@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  filter: drop-shadow(-5px 5px 0 var(--old-lavender));
}
h1 {
  font-size: 20vmin;
}
h2 {
  font-size: 10vmin;
}

a {
  font-weight: 800;
  text-decoration: underline;
  color: var(--off-white);
  background-color: transparent;
}


body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--off-white);
  font-family: 'Open Sans', sans-serif;
  font-size: 3vmin;
  font-weight: 700;
  background-color: var(--mystic-pearl);
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root * {
  /* Colours */
  --off-white: rgb(240, 240, 240);
  --apple: rgb(72, 144, 48);
  --mauvelous: rgb(240, 168, 192);
  --mystic-pearl: rgb(216, 96, 144);
  --dell: rgb(72, 96, 24);
  --black: rgb(0, 0, 0);
  --medium-purple: rgb(144, 99, 216);
  --bilboa-flower: rgb(192, 171, 240);
  --old-lavender: rgb(120, 96, 120);
}
